@charset "utf-8";
body {
	margin: 0 auto;
	padding: 0 auto;
	background: #f1f1f1;
}

/* Header */
header#head {
	margin: 0;
	padding: 0;
	height: 100px;
	width: 100%;
	background: #2a363b;
}
header#head .title{
	text-align: center;
	display: inline-block;
	width: 100%;
	margin-top: 10px;
	color: #e84a5f;
	font-family: MontserratAlternatives-Light;
	font-size: 2.4em;
	letter-spacing: 1px;
}
header#head .subtitle{
	text-align: center;
	display: inline-block;
	width: 100%;
	color: #fff;
	font-family: MontserratAlternatives-Thin;
}

/* Sidebar */
#twitter-div {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
}
nav#nav {
	width: 300px;
	display: inline-block;
	height: calc(100vh - 100px);
	background: #2a363b;
	position: relative;
}
nav#nav img {
	display: inline-block;
	position: absolute;
	bottom: 70px;
	left: 0;
	right: 0;
	margin: auto;
}
nav#nav h1 {
	color: #fff;
	text-align: center;
	font-family: MontserratAlternatives-Thin;
	font-size: 12px;
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	margin: auto;
}
nav#nav h2 {
	color: #fff;
	text-align: center;
	font-family: MontserratAlternatives-Thin;
	font-size: 10px;
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	margin: auto;
}
nav#nav hr {
	width: 96%;
	height: 2px;
	border: none;
	border-radius: 1px;
	background: #fff;
	position: absolute;
	bottom: 30px;
	left: 0;
	right: 0;
	margin: auto;
}

/* Color-Fill */
section#color-fill {
	height: 100px;
	position: absolute;
	left: 0;
	right: 0;
	top: 80px;
	width: calc(100% - 600px);
	background: #2a363b;
	margin: auto;
}
section#color-fill-curve {
	height: 400px;
	position: absolute;
	left: 300px;
	right: 0;
	top: 80px;
	width: calc(100% - 300px);
	background: #f1f1f1;
	border-top-left-radius: 12px;
}

/* Blog */
section#blog {
	height: 495px;
	position: absolute;
	right: 5px;
	top: 85px;
	width: calc(100% - 330px);
	background: #e84a5f;
	border-radius: 6px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px;
}
section#blog h1 {
	color: #fff;
	font-family: MontserratAlternatives-Light;
	font-size: 2em;
	text-align: center;
	margin: 0;
}
section#blog hr {
	width: 96%;
	height: 4px;
	border: none;
	border-radius: 2px;
	background: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
}
section#blog h2 {
	color: #fff;
	font-family: MontserratAlternatives-Light;
	font-size: 1.4em;
	margin: 0;
	display: inline-block;
}
section#blog h4 {
	color: #2a363b;
	font-family: MontserratAlternatives-Light;
	font-size: 0.8em;
	margin: 0;
	display: inline-block;
	margin-left: 10px;
}
section#blog h3 {
	color: #fff;
	font-family: MontserratAlternatives-Light;
	font-size: 1em;
	margin: 0;
	display: inline-block;
	float: right;
}
section#blog p {
	color: #fff;
	font-family: MontserratAlternatives-Light;
	font-size: 0.8em;
	margin: 0;
	margin-top: 20px;
}
section#blog h4 img {
	margin-right: 5px;
}
section#blog::-webkit-scrollbar {
	width: 12px;
}
section#blog::-webkit-scrollbar-track {
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
		background: rgba(0, 0 ,0 , 0.4);
}
section#blog::-webkit-scrollbar-thumb {
  background-color: #2a363b;
  border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

/* Class Buttons */
section#classes{
	width: calc(100% - 310px);
	height: calc(100vh - 605px);
	text-align: center;
	box-sizing: padding-box;
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 5px;
}
section#classes #class1 {
	display: inline-block;
	height: 98%;
	width: calc(25% - 5px);
	position: relative;
	box-sizing: border-box;
	border-radius: 12px;
	border: 2px rgba(0, 0, 0, 0.0) dashed;

}
section#classes #class1:hover {
	border: 2px #2A363B dashed;
}
section#classes #class2 {
	display: inline-block;
	height: 98%;
	width: calc(25% - 5px);
	position: relative;
	box-sizing: border-box;
	border-radius: 12px;
	border: 2px rgba(0, 0, 0, 0.0) dashed;
}
section#classes #class2:hover {
	border: 2px #2A363B dashed;
}
section#classes #class3 {
	display: inline-block;
	height: 98%;
	width: calc(25% - 5px);
	position: relative;
	box-sizing: border-box;
	border-radius: 12px;
	border: 2px rgba(0, 0, 0, 0.0) dashed;
}
section#classes #class3:hover {
	border: 2px #2A363B dashed;
}
section#classes #class4 {
	display: inline-block;
	height: 98%;
	width: calc(25% - 5px);
	position: relative;
	box-sizing: border-box;
	border-radius: 12px;
	border: 2px rgba(0, 0, 0, 0.0) dashed;
}
section#classes #class4:hover {
	border: 2px #2A363B dashed;
}
section#classes img{
	position: absolute;
	width: 40%;
	padding: 0;
	margin: 0;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
}
section#classes h1{
	position: absolute;
	bottom: 120px;
	padding: 0;
	margin: 0;
	left: 50%;
	transform: translateX(-50%);
	font-family: MontserratAlternatives-Light;
	color: #e84a5f;
}
section#classes p{
	position: absolute;
	bottom: 20px;
	padding: 0;
	margin: 0;
	left: 50%;
	transform: translateX(-50%);
	font-family: MontserratAlternatives-light;
	width: 96%;
	font-size: 12px;
	color: #2A363B;
}

/* Container */
section#container {
	height: calc(100vh - 110px);
	position: absolute;
	right: 5px;
	top: 85px;
	width: calc(100% - 330px);
	background: #e84a5f;
	border-radius: 6px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px;
}
section#container::-webkit-scrollbar {
	width: 12px;
}
section#container::-webkit-scrollbar-track {
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
		background: rgba(0, 0 ,0 , 0.4);
}
section#container::-webkit-scrollbar-thumb {
  background-color: #2a363b;
  border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
section#container h1 {
	color: #fff;
	font-family: MontserratAlternatives-Light;
	font-size: 2em;
	text-align: center;
	margin: 0;
	margin-bottom: 40px;
}
section#container p {
	color: #fff;
	font-family: MontserratAlternatives-Light;
	font-size: 0.9em;
	margin: 0;
	margin-top: 20px;
}
section#container h2 {
	color: #fff;
	font-family: MontserratAlternatives-Light;
	font-size: 1.4em;
	margin: 0;
	margin-top: 10px;
}
section#container li {
	color: #fff;
	font-family: MontserratAlternatives-Light;
	font-size: 1em;
	margin: 0;
}
section#container a {
	text-decoration: none;
	color: #e6e6e6;
}

/* Table */
table {
	display: inline-block;
	text-align: center;
	border-collapse: collapse;
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
	height: 428px;
}
table th {
    background-color: #2a363b;
    color: #fff;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		width: 300px;
		height: 60px;
		font-family: MontserratAlternatives-Light;
		font-size: 1.4em;
}
table td {
	background-color: #fff;
	color: #2a363b;
	width: 300px;
	height: 40px;
	font-family: MontserratAlternatives-Light;
	font-size: 1em;
	border-top: 1px #2a363b solid;
}
.curve {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.table {
	display: inline-block;
	text-align: center;
	width: 100%;
}
.no-collapse {
	border-collapse: separate;
}
.curve-all {
	border-radius: 6px;
}
.scroll {
	overflow-x: hidden;
	overflow-y: auto;
}
table::-webkit-scrollbar {
	width: 12px;
}
table::-webkit-scrollbar-track {
		border-radius: 6px;
		background: rgba(0, 0 ,0 , 0.4);
}
table::-webkit-scrollbar-thumb {
  background-color: #2a363b;
  border-radius: 6px;
}

/* Dropdown */
.dropdown-content {
    display: none;
		position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    z-index: 1;
		left: 305px;
		top: 80px;
		box-sizing: border-box;
		border: 1px #2a363b solid;
		border-radius: 4px;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
		color: #2a363b;
		font-family: MontserratAlternatives-Light;
}
.dropdown-content a:hover {
    background-color: #ddd;
		border-radius: 4px;
}
.show {
    display: block;
}

/* Buttons */
.btn-nav {
	display: inline-block;
	height: 40px;
	width: 100%;
	box-sizing: border-box;
	border-bottom: 2px rgba(255, 255, 255, 0.0) solid;
	color: #fff;
	text-decoration: none;
	font-family: MontserratAlternatives-Light;
	padding-left: 20px;
	padding-top: 10px;
}
.btn-nav:hover {
	background: #151b1e;
}
.btn-nav-active {
	border-bottom: 2px rgba(255, 255, 255, 1.0) solid;
}

/* Fonts */
@font-face{
	font-family: Overpass-Black;
	src: url(../font/Overpass/Overpass-Black.ttf);
}
@font-face{
	font-family: MontserratAlternatives-Thin;
	src: url(../font/MontserratAlternates/MontserratAlternates-Thin.ttf);
}
@font-face{
	font-family: MontserratAlternatives-Light;
	src: url(../font/MontserratAlternates/MontserratAlternates-Light.ttf);
}
@font-face{
	font-family: Montserrat-Black;
	src: url(../font/Montserrat/Montserrat-Black.ttf);
}
